@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

/* General Hero Layout */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  padding: 50px;
}

/* Hero Content */
.hero-content {
  display: grid;
  gap: 20px;
  flex: 1;
}

/* Hero Title */
.hero-title {
  font-size: 48px;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
}

.hero-title span {
  color: #06942A;
}

/* Hero Description */
.hero-description {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  max-width: 549px;
  font-optical-sizing: auto;
}

/* search */
.search {
    width: 80%;
}

/* Companies Section */
.companies {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.companies-logos {
  display: flex;
  gap: 20px;
}

.companies-logos img {
  max-width: 100px; 
  object-fit: contain; 
}

/* Left-Angled Image */
.left-angled-img {
  width: 560px;
  height: 732px;
  flex: 1;
}


.hero-image {
  left: -20px;
  top: -20px;
}